@import '../../assets/css/base.scss';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  display: none;
  &.modal-open {
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    display: block;
  }
}

.modal-dialog {
  margin: 1.75rem auto;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: auto;
  min-height: calc(100% - (0.5rem * 2));
  max-width: calc(100vw - 30px);
  transform: translate(0, -25%);
  -webkit-transform: translate(0, -25%);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  @media (min-width: 576px) {
    min-height: calc(100% - (1.75rem * 2));
    max-width: 500px;
  }
  @media (min-width: 992px) {
    max-width: 1000px;
  }
}

.modal-open {
  .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
  padding: 15px;
}

.cancel-btn-modal {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  padding: 10px 12px;
  border-radius: 50%;
  border: 1px solid $gray1;
  cursor: pointer;
}
