@import '../../assets/css/base.scss';

.avatar {
  width: 100%;
  height: 300px;
  background-color: $gray;
  .bg-image {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}
